<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Activate Your Account</title>
</head>
<body>
    <h1 th:text="'Hello, ' + ${username} + '!'">Hello, User!</h1>
    <p th:text="'Thank you for registering. Please use the following code to activate your account:'">Thank you for registering. Please use the following code to activate your account:</p>
    <div class="activation-code"><span th:text="${activationCode}"></span></div>
    <div class="activation-link">
        <p th:text="'Click the following link to confirm your account: '">Click the following link to confirm your account:</p>
        <a th:href="${confirmationUrl}" target="_blank">Activation Link</a>
    </div>
</body>
</html>